ul{
    font-size: 20px;
    font-weight: 50;
    background-color: silver;
    color: rgb(201, 119, 20);
    font-weight: bold;

}
h1{
    color: rgb(rgb(204, 90, 90), rgb(153rgb(65, 65, 121)5, 153), blue);
    background-color: burlywood;
}